@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-one: #4E35F2;
    --color-two: #614ED9;
    --color-three: #75D966;
    --color-four: #F2F2F2;
    --color-five: rgb(0, 0, 0);
    --color-six: #49a53b;
    --color-seven: rgba(19, 50, 189);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, rgba(19, 50, 189), rgba(0, 0, 0, 1));
    overflow-x: hidden;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(19, 50, 189, 0);
    margin: 5px;
}

.redes-btn i {
    color: var(--color-four);
    margin: 1px;
}

.redes-btn i:hover {
    transform: scale(1.05, 1.05);
    transition: transform 0.2s ease-in;
}

.reserva-btn a {
    text-decoration: none;
    color: var(--color-four);
    background-color: var(--color-three);
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 800;
}

.reserva-btn a:hover {
    background-color: #49a53b;
    transition: all 0.2s ease-in;
}

#header-nav {
    border-bottom: 1px solid var(--color-five);
    background-color: var(--color-one);
    background: linear-gradient(to bottom, rgba(19, 50, 189, 0.555), rgba(0, 0, 0, 0.986));
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

.logo img {
    width: 10rem;
}

/* Menu hamburguesa */
#menu-toggler svg {
    fill: var(--color-four);
    height: 4rem;
}

#menu-toggler {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--color-two);
    cursor: pointer;
}

/* Menu navegacion */
#nav-menu {
    flex-direction: column;
    text-align: end;
    font-size: 2rem;
    margin-right: 20px;
}

#nav-menu a {
    color: var(--color-four);
    text-decoration: none;
    margin: 1rem;
}

#nav-menu a:hover {
    transition: transform 0.2s ease-in;
    transform: scale(1.05, 1.05);
    border-bottom: 1px solid var(--color-three);
}

#nav-menu a:nth-child(3) {
    display: none;
}

/* Abrir y cerrar el nav menu */
.menu-open {
    display: flex;
}

.menu-close {
    display: none;
}


/* Pagina Nosotros Gaby */

#bienvenidos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--color-four);
    z-index: 0;
    padding: 0;
}

.bienvenidos-block {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bienvenidos-titulo {
    color: #220cae;
    font-size: 1.7em;
    text-align: center;
    padding: 0.5em;
    animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    font-family: 'Archivo Black', sans-serif;
}

.bienvenidos-texto {
    text-align: center;
    padding: 0.5em;
    font-size: 0.9em;
}

.nosotros {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100vw;
    border-style: hidden;
    color: var(--color-four);
    padding: 0;
}

.box {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.box-content {
    margin: 0 10px;
}

.nosotros img {
    width: 100%;
    height: 100%;
}

.box-content p {
    text-align: center;
    font-size: 100%;   
}

.box h2 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
}

iframe {
    position: relative;
    margin-top: 10px;
    width: 100%;
}

/*  ------------------------------------------------ Pagina servicios ------------------------------------- */
.container-grid-servicios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.eventos-info {
    border: 1px --color-five;
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-one);
    padding: 5px;
    grid-area: 1 / 1 / span 1 / span 5;
    margin: 2px 1px 2px 1px;
}

.section-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.eventos-info h1 {
    color: var(--color-four);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
}

.eventos-info p {
    color: var(--color-four);
    margin: 1em;
    justify-content: start;
    align-items: start;
    font-size: 0.9em;
    margin-bottom: 15px;
}

/* Página "Servicios" */
.eventos-info button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    background-color: var(--color-five);
    color: var(--color-four);
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    margin-top: 20px;
}

.eventos-info button:hover {
    background: var(--color-four);
    color: var(--color-five);
}

.lavados-info {
    border: 1px --color-five;
    border-style: solid;
    background-color: #75d966;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    grid-area: 1 / 1 / span 1 / span 5;
}

.lavados-info h1 {
    color: var(--color-four);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.lavados-info p {
    color: var(--color-four);
    font-size: 0.9em;
    margin: 1em;
}

.lavados-info button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    background-color: #141414;
    color: var(--color-four);
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    margin-top: 20px;
}

.lavados-info button:hover {
    background: var(--color-four);
    color: var(--color-five);
}

.imagen-info {
    background-image: url("/images/copas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2px 2px 2px 2px;
    border: 1px solid --color-five;
    grid-area: 2 / 1 / span 1 / span 5;
}

.imagen-info-2 {
    background-image: url("/images/camisetas.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2px 2px 2px 2px;
    border: 1px solid --color-five;
    grid-area: 2 / 1 / span 2 / span 5;
}

/* Codigo de Santiago pagina Alquiler */
.pAlquiler {

    text-align: center;
    font-size: 25px;
    color: var(--color-four);
    padding: 0px;
    background-color: var(--color-five);

}
.clima {

    text-align: center;
    font-size: 15px;
    color: var(--color-four);
    padding: 0px;
    background-color: var(--color-five);

}

.grid-container {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 10px;
    background-image: url(./images/main.jpg);
    padding: 25px;
}

.card {
    height: 250px;
    border: 2px solid var(--color-two);
    border-radius: 10px;
    color: var(--color-four);
    padding: 10px;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.res-btn a {
    text-decoration: none;
    color: var(--color-four);
    background-color: var(--color-two);
    padding: 1rem;
    border-radius: 2rem;
    font-weight: 800;
}

/* RESOLUCION Tablets y celu */
@media(min-width: 767px){

    /* ARIEL */
    #buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    .redes-btn i {
        color: var(--color-four);
    }

    .redes-btn i:hover {
        transform: scale(1.05, 1.05);
        transition: transform 0.2s ease-in;
    }

    .reserva-btn a {
        text-decoration: none;
        color: var(--color-four);
        background-color: var(--color-three);
        padding: 1rem;

        border-radius: 1rem;
        font-weight: 800;
    }

    .reserva-btn a:hover {
        background-color: var(--color-six);
        transition: all 0.2s ease-in;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-container {
        display: none;
    }

    #menu-toggler {
        display: none;
    }

    #nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
    }

    #nav-menu a:nth-child(3) {
        display: inline;
    }

    #nav-menu a:hover {
        transition: transform 0.2s ease-in;
        transform: scale(1.05, 1.05);
        border-bottom: 1px solid var(--color-three);
    }
    .card {
        height: 300px;
        border-radius: 10px;
    }

    .pAlquiler {
        text-align: center;
        font-size: 30px;
        padding: 1px;
    }

    /* Resolución 550 servicios */

    .container-grid-servicios {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .eventos-info {
        border: 1px var(--color-five);
        border-style: solid;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: var(--color-five);
        padding: 5px;
        grid-area: 1 / 1 / span 2 / span 3;
        margin: 2px 1px 2px 1px;
    }

    .imagen-info {
        background-image: url("/images/copas.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 2px 2px 2px 2px;
        border: 1px solid --color-five;
        grid-area: 1 / 4 / span 2 / span 2;
    }

    .eventos-info button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 30px;
        background-color: var(--color-two);
        color: var(--color-four);
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .3s ease all;
        border-radius: 5px;
        margin-top: 20px;
    }

    .lavados-info {
        border: 1px --color-five;
        border-style: solid;
        background-color: var(--color-three);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5px;
        grid-area: 1 / 1 / span 2 / span 3;
    }

    .imagen-info-2 {
        background-image: url("/images/camisetas.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 2px 2px 2px 2px;
        border: 1px solid --color-five;
        grid-area: 1 / 4 / span 2 / span 2;
    }

    .lavados-info p {
        color: var(--color-four);
        font-size: 1.1em;
        margin: 1em;
    }

    .lavados-info button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 30px;
        margin-top: 45px;
        margin-right: 15px;
        background-color: var(--color-five);
        color: var(--color-four);
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .3s ease all;
        border-radius: 5px;
    }

    .eventos-info p {
        color: var(--color-four);
        margin: 1em;
        justify-content: start;
        align-items: start;
        font-size: 1.1em;
        margin-bottom: 15px;
    }

    /*------NOSOTROS------ */
    #bienvenidos>h1 {       
        font-size: 2.5em;
        margin-top: -300px;
        margin-left: 100px;
    }

    .box div h2{
        margin-top: 200px;
    }

    .box-mapa{
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: 1.3em;
        height: auto;
        padding: 30px;
    }

    .box-mapa h2{
        margin-top: 75px;
        font-family: 'Archivo Black', sans-serif;
        font-size: 1.1em;
    }

    .box-mapa p{
        padding: 10px;
        font-size: 1.1em;
    }

    .box-mapa iframe{
        width: 85%;
        height: 350px;
    }


    #bienvenidos>p {
        position: absolute;
        margin-top: -200px;
        margin-left: 110px;
        
    }
    

    /* Resolución para mas de 550px del footer*/
    footer p {
        padding: 0;
        font-size: 1.5em;
    }

    .footer_der {
        font-style: italic;
        color: var(--color-two);
    }

    .logo_pp img {
        height: 4vw;
        max-height: 90px;
    }

    /* Resolución para mas de 550px del carrusel*/
    .carrusel {
        height: 100vw;
    }

    .imagenes p {
        top: 50%;
        left: 50%;
    }
}

/* Estilos para el carrusel grales y a menos de 550px*/
.carrusel {
    height: 15vw;
    overflow: hidden;
    /*no muestra lo que sobresalga*/
    position: relative;
    text-align: center;
    color: var(--color-four);
    /*blanco*/
}

.animacion {
    display: flex;
    /*una imagen al lado de la otra*/
    width: 1000%;
    /*ancho de todas las imagenes, cuando sean 10 modificar*/
    position: absolute;
    animation: scroll 100s linear infinite;
    animation-delay: 1s;
}

.imagenes {
    width: 100%;
    height: 100%;
    position: relative;
}

.imagenes img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imagenes p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-45%, -45%);
    font-size: 2vw;
    /* Tamaño del texto en relación al ancho de la pantalla */
}

/* Animación carrusel */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-10%);
        /* Cambia a -200% para mostrar la última imagen */
    }

    20% {
        transform: translateX(-20%);
        /* Cambia a -200% para mostrar la última imagen */
    }

    30% {
        transform: translateX(-30%);
        /* Cambia a -200% para mostrar la última imagen */
    }

    40% {
        transform: translateX(-40%);
        /* Cambia a -200% para mostrar la última imagen */
    }


    50% {
        transform: translateX(-50%);
        /* Cambia a -200% para mostrar la última imagen */
    }

    60% {
        transform: translateX(-60%);
        /* Cambia a -200% para mostrar la última imagen */
    }

    70% {
        transform: translateX(-70%);
        /* Cambia a -200% para mostrar la última imagen */
    }

    80% {
        transform: translateX(-80%);
        /* Cambia a -200% para mostrar la última imagen */
    }

    90% {
        transform: translateX(-90%);
        /* Cambia a -200% para mostrar la última imagen */
    }


    100% {
        transform: translateX(-10%);
        /* Cambia a -200% para mostrar la última imagen */
    }
}

.carrusel:hover .animacion {
    animation-play-state: paused;
}

/*-----------------------ESTILOS DEL FOOTER grales y a - de 550px-----------------------*/

/* Estilos para el pie de página */
footer {
    display: flex;
    background-color: var(--color-five);
    /*negro*/
    justify-content: space-evenly;
    align-items: center;
    padding: 0.3em;
    transition: .3s ease-in-out;
    color: var(--color-four);
    /*blanco*/
    font-weight: 400;
    font-size: 1em;
}

.footer_der {
    font-style: italic;
}

.logo_pp img {
    height: 15vw;
    transition: box-shadow 0.3s ease;
    width: 100%;
}

.logo_pp img:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(78, 53, 242, 0.6), 0 6px 20px 0 rgba(97, 78, 217, 0.6);
}

/*  ------------------------------------------- FORMULARIO --------------------------------------------*/

/* Estilos para el formulario */
#formulario {
    width: 400px; /* Ancho del formulario */
    margin: 0 auto; /* Ordena Horizontal */
    margin: 2em auto 2em; /* Agrega margen arriba y abajo */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para los campos de entrada */
#formulario input[type="text"],
#formulario input[type="email"],
#formulario input[type="tel"],
#formulario select,
#formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para los botones */
#formulario button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#formulario button[type="button"] {
    background-color: #ccc; /* Cambia el color del botón "Deshacer" */
}

/* Estilos para etiquetas */
#formulario label {
    font-weight: bold;
}

/* Estilos adicionales para textarea */
#formulario textarea {
    resize: vertical; /* Permite cambiar el tamaño verticalmente */
}